/* Featured Panel */
#featured {
  border-radius: 15px;
}

/* Featured Image */
#featured-image {
  border-radius: 15px;
  margin: 15px;
}

/* Featured Tech Buttons */
#featured-tech-cont {
  margin: 15px auto;
  font-size: 0.85em;
}

.featured-tech {
  margin: 12px;
  border-radius: 15px;
  color: #fff;
}

.featured-tech-span {
  padding: 5px 10px;
  margin: 12px;
  border-radius: 15px;
  font-weight: 700;
  font-family:'Tahoma', 'Arial Narrow', Arial, sans-serif;
}

.yelp {
  background-color: #C41200
}

.handlebars {
  color: #fff;
  background-color: #df691a;
}

.spotify {
  color: #191414;
  background-color: #1DB954;
}

.link-buttons .featured-link {
  margin: 20px 5px;
  padding: 10px;
  min-width: 25%;
  font-size: 1.25em;
  border-radius: 15px;
}

/* ==== ANIMATIONS ==== */
.fade-in-slide-down {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

