/* Self-Description */
.self-description {
  font-size: 1.75em;
}

@media only screen and (max-width: 600px) {
  .self-description {
    font-size: 1.25em;
  }
  .tech-card {
    display: block;
  }
}