/* Project Card */
.project-card {
  padding: 15px;
  width: 18rem;
  opacity: 0;
}

/* Grow */
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  box-shadow: -5px 5px 5px;
}

/* Fade In and Up */
.fade-slide1 {
  animation: fade-in-move-right 1s forwards;
  animation-delay: 0s
}

.fade-slide2 {
  animation: fade-in-move-right 1s forwards;
  animation-delay: 0.25s;
}

.fade-slide3 {
  animation: fade-in-move-right 1s forwards;
  animation-delay: 0.5s;
}

.fade-slide4 {
  animation: fade-in-move-right 1s forwards;
  animation-delay: 0.75s;
}

.fade-slide5 {
  animation: fade-in-move-right 1s forwards;
  animation-delay: 1s;
}

@keyframes fade-in-move-right {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}